@using site.core.DataSvc

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вита Марьенко, @ViewBag.Title</title>
    @Styles.Render("~/bundles/style")
</head>
<body>
    @{
        var categories = ViewBag.Categories as List<GoogleDriveFolder>;
    }

    <nav>

        @if (categories?.Any() == true)
        {
            <ul>
                @foreach (var category in categories)
                {
                    <li>@Html.ActionLink(category.Name, "Category", new { id = category.Id })</li>
                }
            </ul>
        }

    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/script")
</body>
</html>
