@model site.core.Models.ImgSet

@{
    ViewBag.Title = "Create";
}

<section class="container">
    <div class="row">

        <h2>Шаг 1 - создать контейнер и задать описание.</h2>

        @using (Html.BeginForm("Create", "ImgSets", FormMethod.Post, new { id = "form-create-set-step-1" }))
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "" })
            </div>
            <div>
                @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Order, "", new { @class = "" })
            </div>
            <div>
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "" })
                @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "" })
            </div>
            <div>
                @Html.LabelFor(model => model.Base64TitleImg, htmlAttributes: new { @class = "" })
                <input type="file" />
                @Html.ValidationMessageFor(model => model.Base64TitleImg, "", new { @class = "" })
            </div>

            
            <button class="">Шаг 2</button>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</section>