@using site.core.DataSvc
@using site.core

@model List<GoogleDriveFolder>
<script>
    window.pageCategory = true;
</script>

<div class="row">

    <h2 class="col-md-offset-2 col-md-8">@ViewBag.Title</h2>

</div>

@foreach (var chunk in Model.ChunkBy(4))
{
    <div class="row">

        @foreach (var item in chunk)
        {
            <div class="image-placeholder title-image @(chunk.IndexOf(item) == 0 ? "col-md-offset-2" : "") col-md-2" data-src="@item.Url">
                <a href="@Url.RouteUrl("View", new { categoryId = item.ParentId, id = item.Id, title = item.Name })" class="parent-dimensions">
                    <img />
                </a>
                <div class="hint">
                    <h4>
                        <a href="@Url.RouteUrl("View", new { categoryId = item.ParentId, id = item.Id, title = item.Name })">@item.Name</a>
                    </h4>
                    <span class="hint-category">Свадьба</span>
                </div>
            </div>
        }
    </div>
}