@using site.core.DataSvc

@{
    var categories = ViewBag.Categories as List<GoogleDriveFolder>;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Slab|Montserrat|Playfair+Display" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("VITA MARIENKO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                    </div>
                    <div class="navbar-collapse collapse">
                        @if (categories?.Any() == true)
                        {
                            <ul class="nav navbar-nav">
                                @foreach (var category in categories)
                                {
                                    <li>@Html.ActionLink(category.Name, "Category", new { id = category.Id })</li>
                                }

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>@Html.ActionLink("Reset", "Reset", "Home", null, new { @class = "text-danger" })</li>
                                    <li>@Html.ActionLink("Log out", "LogOff", "Login", null, new { @class = "text-danger" })</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <ul id="contactme">
                <li id="facebook">
                    <a target="_blank" href="https://www.facebook.com/vita.kushpil.1">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li id="instagram">
                    <a target="_blank" href="https://www.instagram.com/marienkophotography/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li id="phone">
                    <a href="tel:+380939102386">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div>
                @DateTime.UtcNow.Year - Vita Marienko
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/site")
</body>
</html>
